.card {
    -fx-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -fx-border-color: #CCC;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.card .title {
    -fx-font-size: 16px;
    -fx-text-fill: #444;
    -fx-text-fill: #444
}

.card .text {
    -fx-font-size: 13px;
    -fx-text-fill: #737373
}

.card HBox Label:hover {
    -fx-cursor: hand;
    -fx-underline: true
}

/* Social media icons*/

.font-social-media {
    -fx-fill: #666
}

.font-social-media:hover {
    -fx-cursor: hand
}

.icon-github:hover {
    -fx-fill: #D0E;
}

.icon-fb:hover {
    -fx-fill: #2196f3;
}

.icon-yt:hover {
    -fx-fill: #D00;
}

.icon-in:hover {
    -fx-fill: #2196f3;
}

.icon-tw:hover {
    -fx-fill: #2196f3;
}

.icon-google:hover {
    -fx-fill: #D00;
}

.icon-insta:hover {
    -fx-fill: #080
}


