.card {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-background-color: #FFF;
    -fx-background-radius: 10
}

.card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 25, 0, 0, 0);
    -fx-cursor: hand
}

.card Pane {
    -fx-background-color: #148BB1;
    -fx-background-radius: 10
}

.card Label {
    -fx-font-size: 22px;
    -fx-text-fill: #FFF;
    -fx-text-alignment: center
}



