* {
    -primary-color: #4285f4;
    -second-color: #EEE;

    -fx-font-family: Tahoma;
}

.root {
    -fx-background-color: -primary-color;
}

Label {
    -fx-text-fill: -second-color;
}

.icon {
    -fx-fill: -second-color
}

.title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.sub-title {
    -fx-font-size: 16px;
    -fx-text-fill: -second-color;
    -fx-opacity: 0.9
}

.footer-lbl {
    -fx-text-fill: -second-color;
    -fx-opacity: 0.8
}