* {
    -fx-font-family: Tahoma;
    -base-color: #65617d; /* #65617d, #6bbc76, #2196f3 */
    -base2-color: #EEE;
}

.title {
    -fx-font-size: 24px;
    -fx-text-fill: -base-color
}

/* Start intro part */

.btn-intro {
    -fx-font-size: 22px;
    -fx-background-color: -base-color;
    -fx-text-fill: -base2-color;
    -fx-cursor: hand;
    -jfx-button-type: RAISED
}

/* Start intro part */

/* Start img part */

.field {
	-fx-pref-width: 350px;
	-fx-pref-height: 40px;
	-fx-font-size: 16px;
	-jfx-unfocus-color: -base2-color;
	-jfx-focus-color: -base2-color;
	-fx-prompt-text-fill: -base2-color;
	-jfx-label-float: true;
}

.btn-signup {
	-fx-pref-width: 350px;
	-fx-pref-height: 50px;
	-fx-background-color: -base-color;
	-fx-text-fill: -base2-color;
	-fx-font-size: 18px;
	-fx-background-radius: 25px;
	-fx-border-color: -base2-color;
	-fx-border-width: 1.5;
	-fx-border-type: solid;
	-fx-border-radius: 25;
	-fx-cursor: hand;
}

.link {
	-fx-text-fill: -base2-color;
	-fx-font-size: 18px;
}

/* End img part */