
.card {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-background-image: url("image.jpg");
    -fx-background-size: 230;
    -fx-background-repeat: none;
    -fx-background-radius: 10;
    -fx-border-radius: 10
}

.card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 25, 0, 0, 0);
    -fx-cursor: hand;
    -fx-translate-y: -5
}

.card Label {
    -fx-font-size: 18px;
    -fx-text-fill: #FFF
}

