/* Start Top Part */

.pane-color {
    -fx-background-color: rgba(33, 150, 243, 0.3)
}

.title {
    -fx-font-size: 34px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFF
}

/* End Top Part */

/* Start rulez & Commune */

.jfx-tab-pane .headers-region {
    -fx-background-color: transparent
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: transparent
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #FFF;
    -fx-stroke: #FFF;
    -fx-stroke-width: 3pt;
}

.root {
    -fx-background-color: #FFF
}

.h-w-item { /* With & Height of item */
    -fx-pref-height: 40px;
    -fx-pref-width: 270px
}

.txt-desc {
    -fx-font-size: 13px;
    -fx-fill: #FFF
}

.footer-title {
    -fx-font-size: 14px;
    -fx-text-fill: rgba(0, 0, 0, 0.7)
}

.btn {
    -fx-background-radius: 30;
    -fx-text-fill: #FFF;
    -fx-font-size: 18px;
}

.btn:hover {
    -fx-cursor: hand;
    -fx-background-color: #ffc131
}

/* End rulez & Commune */

/* Start Sign up part */

.field-signup {
    -fx-background-radius: 30;
    -fx-font-size: 16px
}

.btn-signup {
    -fx-background-color: #2196f3;
}

/* End Sign up part */

/* Start Sign in part */

.icon {
    -fx-fill: rgba(0, 0, 0, 0.5)
}

.field-signin {
    -fx-font-size: 16px;
    -fx-pref-width: 250px;
    -jfx-focus-color: #2196f3
}

.btn-signin {
    -fx-background-color: #01b98a;
}

/* End Sign in part */