* {
    -fx-font-family: Tahoma
}

/* Start Nav */

.nav {
    -fx-background-color: #444;
}

.nav-title {
    -fx-font-size: 20px;
    -fx-text-fill: #FFF;
}

.nav-link {
    -fx-font-size: 16px;
    -fx-text-fill: #EEE;
}

.nav-link:hover {
    -fx-text-fill: #FFF;
    -fx-underline: true;
    -fx-cursor: hand
}

.nav-profile {
    -fx-background-color: #333;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.nav-profile-txt {
    -fx-font-size: 15px;
    -fx-text-fill: #EEE;
}

/* End Nav */

/* Start Header */

.header {
    -fx-background-color: #FFF;
    -fx-font-size: 17px;
}

.header2 {
    -fx-background-color: #E7EEF4
}

.header-title {
    -fx-font-weight: bold;
}

.header-cards-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold
}

.header-cards-txt {
    -fx-font-size: 16px
}

.header-cards-box {
    -fx-padding: 10px 20px;
    -fx-background-color: #FFF;
    -fx-background-radius: 5;
}

/* End Header */

/* Start Details */

.details {
    -fx-background-color: #FFF;
    -fx-padding: 20px
}

.details-btn {
    -fx-font-size: 16px;
    -fx-text-fill: #EEE;
    -fx-pref-width: 180px;
    -fx-pref-height: 40px;
    -fx-background-radius: 5;
    -jfx-button-type: RAISED;
    -fx-cursor: hand
}

/* End Details */
