
.card {
    -fx-border-color: #AAA;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-radius: 5;
    -fx-border-radius: 5   
}

.card .title {
    -fx-font-size: 24px
}

.card .text {
    -fx-font-size: 18px
}

.card .btn {
    -fx-background-radius: 5;
    -fx-text-fill: #FFF;
    -fx-background-color: #007bff;
    -fx-font-size: 18px
}

.card .btn:hover{
    -fx-background-color: #0069D9;
    -fx-cursor: hand
}

