/* Start Model 1 */

.container-box-m1 {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-background-color: #FFF;
    -fx-background-radius: 10
}

.container-box-m1:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 25, 0, 0, 0);
    -fx-cursor: hand
}

.pane-box-m1 {
    -fx-background-radius: 10
}

.title-box-m1 {
    -fx-font-size: 22px;
    -fx-text-fill: #FFF;
    -fx-text-alignment: center
}

/* End Model 1 */

/* Start Model 2 */

.container-box-m2 {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-background-image: url("img/m2.jpg");
    -fx-background-size: 230;
    -fx-background-repeat: none;
    -fx-background-radius: 10;
    -fx-border-radius: 10
}

.container-box-m2:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 25, 0, 0, 0);
    -fx-cursor: hand;
    -fx-translate-y: -5
}

.title-box-m2 {
    -fx-font-size: 18px;
    -fx-text-fill: #FFF
}

/* End Model 2 */

/* Start Model 3 */

.container-box-m3 {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-background-color: #FFF;
    -fx-background-radius: 10
}

.container-box-m3:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 26, 0, 0, 0);
    -fx-cursor: hand;
    -fx-translate-y: -5
}

/* End Model 3 */

/* Start Card 4  */

.card4-container {
    -fx-border-color: #AAA;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-radius: 5;
    -fx-border-radius: 5   
}

.card4-title {
    -fx-font-size: 24px
}

.card4-text {
    -fx-font-size: 18px
}

.btn-card4 {
    -fx-background-radius: 5;
    -fx-text-fill: #FFF;
    -fx-background-color: #007bff;
    -fx-font-size: 18px
}

.btn-card4:hover{
    -fx-background-color: #0069D9;
    -fx-cursor: hand
}

/* End Card 4  */

/* Start Card 5  */

.card5-container {
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-radius: 5;
    -fx-border-radius: 5   
}

.card5-header {
    -fx-font-size: 16px;
    -fx-border-color: #999;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid
}

.card5-title {
    -fx-font-size: 20px
}

.card5-text {
    -fx-font-size: 16px
}

/* End Card 5  */