.right-pane {
    -fx-background-color: #EFEFEF;
    -fx-effect: dropshadow(three-pass-box, rgba(150,150,150,1), 2, 0, 0, 0);
    -fx-background-radius: 2;
}

.title {
    -fx-text-fill: #999;
    -fx-font-size: 15px
}

.btn {
    -fx-background-radius: 0;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-text-fill: #FFF;
    -fx-background-color: #02aae9
}

.btn:hover {
    -fx-cursor: hand
}

.field {
    -fx-font-size: 14px;
    -jfx-focus-color: #44b691;
    -fx-prompt-text-fill: #999
}

.lbl-view-title {
    -fx-font-size: 15px;
    -fx-text-fill: #999
}

.lbl-view-txt {
    -fx-font-size: 15px;
    -fx-text-fill: #666   
}